<!DOCTYPE HTML>
<html lang="<%= config.language %>">
<head>
    <%- partial('_partial/head') %>
</head>

<body>

<%- partial('_partial/header') %>
<%- body %>
<%- partial('_partial/footer') %>

<%- partial('_partial/search') %>
<%- partial('_partial/back-top') %>
<%- partial('_partial/google-analytics') %>

<script src="/libs/materialize/js/materialize.min.js"></script>
<script src="/libs/masonry/masonry.pkgd.min.js"></script>
<script src="/libs/aos/aos.js"></script>
<script src="/libs/scrollprogress/scrollProgress.min.js"></script>
<script src="/libs/lightGallery/js/lightgallery-all.min.js"></script>
<script src="/js/matery.js"></script>

<% if (theme.personalized.clickLove) { %>
<!-- 页面点击小红心 -->
<script src="/js/love.js"></script>
<% } %>

<% if (theme.personalized.canvasNest) { %>
<!-- 页面动态背景 -->
<script src="//cdn.bootcss.com/canvas-nest.js/1.0.0/canvas-nest.min.js"></script>
<% } %>

</body>
</html>